.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    background-color: #e2e8f0;
}

.branco {
    color: #000000;
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
}

.vermelho {
    color: #ffffff;
    background-color: #d10808;
    border-style: solid;
    border-color: #d10808;
}

.preto {
    color: #ffffff;
    background-color: #000000;
    border-style: solid;
    border-color: #000000;
}